form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: solid black;
    margin: 0 auto;
    width: 300px;
    padding: 8px;
    text-align: left;
    background-color: #a4243b;
}

.divider {
    height: 2px;
    border-bottom: solid;
    width: 80%;
    align-self: center;
    border-color: black;
}

.text{
    display: flex;
    justify-content: space-between;
}

.padding {
    padding: 0 0 10px 0;
    margin: 0;
}

.select {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.required {
    color: #FFFD82;
}

.main-list li:nth-child(4) a{
    cursor: default;
    text-decoration: none;
    pointer-events: none;
    color: white;
}