figure {
    margin: 0;
}

#me {
    width: 400px;
    max-width: 100%;
    min-width: 200px;
}

.list, .sublist {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-list li:nth-child(2) a{
    cursor: default;
    text-decoration: none;
    pointer-events: none;
    color: white;
}

.sublist {
    gap: 10px;
}

.name-img {
    text-align: center;
}