figure {
    margin: 0;
}

#me {
    width: 400px;
    max-width: 100%;
    min-width: 200px;
}

.list, .sublist {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sublist {
    gap: 10px;
}