table {
    border-collapse: collapse;
    margin: 0 auto;
    background-color: rgb(211, 211, 211);
    color: black;
    border: 4px solid black;
}

th, td {
    border: 2px solid black;
    padding: 8px;
    text-align: left;
}

.data-list {
    line-height: 30px;
    text-align: left;
}

.list-and-table {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.table-header th{
    background-color: #FFFD82;
    text-align: center;
}

.rowspan {
    text-align: center;
}

figcaption, figure {
    margin: 0;
}
