body {
    background-color: #F1F0CC;
    font-family: Geneva, Tahoma, sans-serif;
    margin: 0;
    line-height: 1.5rem;
}

header {
    background-color: #3F0D12;
    padding: 16px 5%;
    color: #F1F0CC;
    display: flex;
    gap: 10px;
    align-items: center;
}

#logo {
    height: 39px;
    width: auto;
}

header h1 {
    margin: 0;
}

main {
    padding: 16px 5%;
}

footer h5 {
    color: #F1F0CC;
    text-align: center;
    padding: 16px 0;
    margin: 0;
}

footer {
    background-color: #3F0D12;
    margin-top: 20px;
}

.link {
    color: #a71d31;
    text-decoration: underline;
    text-underline-offset: 5px;
    cursor: pointer;
}

.link:hover {
    color: #8d775f;
}