<header>
    <h1>Jad Bizri's Jobless Bullfrog || ITIS 3135</h1>
    <nav>
        <ul class="link-list main-list">
            <li><a class="link" href="./">Home</a></li>
            <li><a class="link" href="./introduction.html">Introduction</a></li>
            <li><a class="link" href="./tables.html">Table</a></li>
            <li><a class="link" href="./forms.html">Form</a></li>
            <li><a class="link" href="./firstscripts.html">First Scripts</a></li>
            <li><a class="link" href="./contract.html">Contract</a></li>
        </ul>
        <ul class="link-list main-list">
            <li><a class="link" href="./website_evaluations.html">Website Evaluations</a></li>
            <li><a class="link" href="./stuff/ThisISmyH0mEp8ge2123.htm">CRAPPY</a></li>
        </ul>
    </nav>
</header>